h1{
    color: white; 
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
h2{
    color: white; 
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
body {
    background-image: url(../img/comida-japones-sushi.jpg);
    height: 200px;
    background-attachment: fixed;
    background-size:contain;
    background-position:center;
    background-repeat: repeat;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif; 
}
img{
    width: 200px;
    height: 200px;
}
.titulo_css { 
    width: 200px;
    height: 50px;
    margin: 40px 40px 40px;
}
.wp {
    color: greenyellow;
    position: fixed;
    right: 15px;
    bottom: 40px;
    font-size: 40px;
}
.ig {
    color: rgb(245, 27, 219);
    position: fixed;
    right: 60px;
    bottom: 40px;
    font-size: 40px;
}
p {
    color: black;
}
.btn {
    margin-left: 40px;
    margin-top: 40px;
    background: rgb(116,115,131);
    background: linear-gradient(90deg, rgba(116,115,131,1) 16%, rgba(193,160,28,1) 66%);
}
.btninicio:hover {
    transform: scale(2);
        
}
.btninicio{
    transition: all 1.5s;
}
 main{
    margin-left: 300px;
    margin-right: 300px;
    background: rgb(116,115,131);
    background: linear-gradient(90deg, rgba(116,115,131,1) 16%, rgba(193,160,28,1) 66%);
}
.platos {
    margin-left: 300px;
    margin-right: 300px;
    background: rgb(116,115,131);
    background: linear-gradient(90deg, rgba(116,115,131,1) 16%, rgba(193,160,28,1) 66%);
}
.ceviches {
    margin-left: 300px;
    margin-right: 300px;
    background: rgb(116,115,131);
    background: linear-gradient(90deg, rgba(116,115,131,1) 16%, rgba(193,160,28,1) 66%);
}
.acompañamientos {
    margin-left: 300px;
    margin-right: 300px;
    background: rgb(116,115,131);
    background: linear-gradient(90deg, rgba(116,115,131,1) 16%, rgba(193,160,28,1) 66%);
}
